body {
  overflow-x: hidden; /* Prevent the whole page from scrolling */
}
#viewport{
  width: 100vw; /* Viewport width */
  overflow: hidden;
}
#container {
  --button-width: 20vw;
  --page-width: calc(100vw - var(--button-width) - 10vw);
  /* display: grid; */
  /* grid-template-columns: calc(var(--page-width) + 10vw) var(--button-width) var(--button-width) calc(var(--page-width) + 10vw); */
  width: calc(2 * 10vw + 2 * var(--page-width) + 2 * var(--button-width));
  display: flex;
  align-self: flex-start;
  transition: transform 1s ease;
}
.slide {
  transform: translateX(-100vw);
}
.subcontainer{
  --button-width: 20vw;
  --page-width: calc(100vw - var(--button-width) - 10vw);
  width: calc(10vw + var(--page-width) + var(--button-width));
  /* float: left; */
  display: flex;
}
.page {
  --button-width: 20vw;
  width: calc(100vw - var(--button-width) - 10vw);
  /* padding-right: 20vw; */
  /* margin-right: 384px; */
  display: flex;
  /* overflow: auto; */
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid black; */
}
#homepage {
  margin-left: 10vw;
}
.section {
  margin-top: 10vw;
}
.title {
  font-size: 3em;
}
.subtitle {
  font-size: 1.25em;
  align-self: flex-start;
  margin-top: 2vw;
}
.heading {
  font-size: 1.5em;
  margin-top: 6vw;
}
.body-text {
  margin-top: 2vw;
  color: var(--dl-color-gray-black);
  font-size: 14px;
  line-height: 2.25;
}
.subheading {
  margin-top: 2vw;
}
#pricing {
  top: 0px;
  right: 0px;
  height: 100%;
  /* position: fixed; */
  width: 20vw;
  opacity: 0.5;
  background-image: linear-gradient(to right, white ,#FFEAEE );
  /* border: 1px solid black; */
  /* bottom: 0px; */
  /* margin: auto; */
  /* align-self: flex-end; */
  cursor:pointer;
}
#pricing:hover {
  background-image: linear-gradient(to right, white ,#FFC2CD ); /* A more intense pink */
  /* transform: translateY(-5px); "Raise" the button */
}
#back {
  top: 0px;
  right: 0px;
  height: 100%;
  /* position: fixed; */
  width: 20vw;
  /*  */
  /* opacity: 0.5; */
  background-image: linear-gradient(to left, white ,#FFEAEE );
  /* border: 1px solid black; */
  /* bottom: 0px; */
  /* margin: auto; */
  /* align-self: flex-end; */
  cursor:pointer;
}
#back:hover {
  background-image: linear-gradient(to left, white ,#FFC2CD ); /* A more intense pink */
  /* transform: translateY(-5px); "Raise" the button */
}
.button-text {
  position: fixed;
  top: 50%;
}
#pricing-text{
  right: 10vw;
  opacity: 0.5;
  transition: transform 1s ease;
}
#back-text{
  left: 10vw;
  opacity: 0.5;
  margin-left: 100vw;
  transition: transform 1s ease;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2vw;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.section2 {
  margin-top: 6vw;
}
#contact {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  position: fixed;
  padding: 8px;
  /* border: 1px solid black; */
}
img{
  max-height: 100%;
}
#contact-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  position: fixed;
  box-sizing: border-box;
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(black, black);
  /* transition: all 0.5s linear; */
}
#contact-button:hover {
  opacity: 0;
  background-size: 100% 100%;
  /* filter: invert(100%); */
  transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
}
#contactInfo {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: fit-content;
  background-color: #f9f9f9;
  color:black;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  box-shadow: 0 0 50px #ccc;
}
b {
  font-size: 10px;
}